@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$white: hsl(0, 100%, 100%);
$soft-white: hsla(0, 100%, 100%, 80%);
$violet: hsl(257, 40%, 49%);
$soft_magenta: hsl(300, 69%, 71%);

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}