@import './mixins';

@media (min-width: 2500px) {
    @include font_sizes(5rem, 2.5rem);
}

@media (max-width: 2500px) {
    @include font_sizes(4.2rem, 2rem);
}

@media (max-width: 2000px) {
    @include font_sizes(3.1rem, 1.4rem);
}

@media (max-width: 1500px) {
    @include font_sizes(2.1rem, 1rem);
}

@media (max-width: 1000px) {
    @include font_sizes(1.7rem, .8rem);
}

@media (max-width: 850px) {
    @include font_sizes(1.6rem, .9rem);

    header img {
        height: 32% !important;
    }

    main {
        height: auto !important;
        flex-direction: column;
        gap: 8vh;
        text-align: center;

        .image, .content {
            width: 100% !important;
        }

        .content {
            p {
                width: 94%;
            }

            .button {
                height: 7vh !important;
            }

            a {
                margin: auto;
                width: 65% !important;
                border-radius: 5vh !important;
            }
        }
    }

    footer {
        padding-bottom: 2vh;
        
        .social-icons {
            float: initial !important;
            margin: auto auto 2vh;
        }

        .attribution {
            flex-direction: column;
            align-items: center;
        }
    }
}