@import './config', './mixins', './media-queries';

body {
    font-family: 'Open Sans', sans-serif;
    background: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $violet;
    color: $white;
    padding: 0 6vw;

    header {
        @include flexbox(17vh);

        img {
            height: 40%;
        }
    }

    main {
        @include flexbox(68vh);

        .image {
            @include flexbox(100%, 57%);

            img {
                width: 100%;
            }
        }

        .content {
            @include flexbox(100%, 43%);
            flex-direction: column;
            justify-content: center;
            padding: 0 2vw 4vh 2vw;

            h1 {
                width: 100%;
            }

            p {
                margin: 2.6vh 0 3.5vh;
                color: $soft-white;
            }

            .button {
                height: 12%;
                width: 100%;
            }

            a {
                @include flexbox(100%, 40%);
                justify-content: center;
                background-color: $white;
                color: $violet;
                font-family: 'Poppins';
                text-decoration: none;
                border-radius: 5vw;
                box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.3);
                transition: 0.7s;
            }

            a:hover {
                background-color: $soft_magenta;
                color: $white;
            }
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    footer {
        height: 15vh;
    }
}