@import './config', './mixins', './media-queries';

body {
    font-family: 'Open Sans', sans-serif;
    background: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $violet;
    color: $white;
    padding: 0 6vw;

    header {
        @include flexbox(15vh);

        img {
            height: 45%;
        }
    }

    main {
        @include flexbox(70vh);

        .image {
            @include flexbox(100%, 57%);

            img {
                width: 100%;
            }
        }

        .content {
            @include flexbox(100%, 43%);
            flex-direction: column;
            justify-content: center;
            padding: 2vw;

            h1 {
                width: 100%;
            }
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    footer {
        height: 15vh;
    }
}